body{
    margin: 0;
}

.registerbody{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: Roboto;
    margin: 0;
}


.form-box {
    width: 90vw;
    max-width: 400px;
    background: rgba(211, 229, 241, 0.39);
    overflow: hidden;
    border-radius: 16px 0 0 16px;
    color: #010101;
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
}

/*Form text*/
.title {
    font-weight: bold;
    font-size: 2rem;
    color: #2f4566;
}

.subtitle {
    font-size: 1.5rem;
    color: #949494;
    font-weight: 300;
}

/*Inputs box*/
.form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
}

.input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: 1rem;
    font-weight: lighter;
    color: #252525;
    padding: 8px 15px;
}

.form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section a {
    font-weight: bold;
    color: #2f4566;
    transition: color .3s ease;
}

.form-section a:hover {
    color: #a8c3d5;
    text-decoration: underline;
}

/*Button*/
.form button {
    background-color: #2f4566;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form button:hover {
   background-color: #a8c3d5;
}



.registercontain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row ;
    background-color: #ffffff;
    border-radius: 16px;
    margin-bottom: 30px;
    margin-top: 30px;
    box-shadow: #f8f8f8 5px 5px 5px;


}

.register-top-gem-it-logo{
    height: 50px;
    position: absolute;
    top: 30px;
    left: 30px;
}

@media screen and (max-width: 1000px) {
    #register-svg{
        display: none;
    }
    .form-box{
        border-radius: 16px ;
    }
    .registercontain{
        box-shadow: none;
    }
}

.form_main {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px 30px 30px 30px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
    position: relative;
    overflow: hidden;
}

.form_main::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    background-color: rgb(209, 193, 255);
    transform: rotate(45deg);
    left: -180px;
    bottom: 30px;
    z-index: 1;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
    font-size: 2em;
    color: #2e2e2e;
    font-weight: 700;
    margin: 5px 0 10px 0;
    z-index: 2;
}

.inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.inputIcon {
    position: absolute;
    left: 3px;
}


.inputField {
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(173, 173, 173);
    margin: 10px 0;
    color: black;
    font-size: .8em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
}


.inputField:focus {
    outline: none;
    border-bottom: 2px solid rgb(199, 114, 255);
}

.inputField::placeholder {
    color: rgb(52, 52, 52);
    font-size: 1em;
    font-weight: 500;
}

#button {
    z-index: 2;
    position: relative;
    width: 100%;
    border: none;
    background-color: rgb(162, 104, 255);
    height: 30px;
    color: white;
    font-size: .8em;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

#button:hover {
    background-color: rgb(126, 84, 255);
}

.forgotLink {
    z-index: 2;
    font-size: .7em;
    font-weight: 500;
    color: rgb(44, 24, 128);
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 20px;
}

