body{
    margin: 0;
}

a img{
    height: 100px;
}

.prof-title{
    margin-bottom: -30px;
}

nav{
    padding-top: 20px;
    position: absolute;
    width: 100vw;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.burger-menu{
    display: none;
}

.navbar-button{
    color: #a8c3d5;
    height: 80px;
    width: 160px;
    font-size: 21px;
    font-family: Roboto, sans-serif;
    background-color: transparent;
    border: transparent;
    transition-duration: 0.5s;

}


.navbar-button:hover{
    padding-bottom: 20px;
    border-bottom: #2f4566 1px solid;
}

#burger-btn{
    display: none;
}

.prof-contain{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 200px;
    font-family: Roboto, sans-serif;
}


@media screen and (max-width: 1000px) {
    .prof-contain{
        grid-template-columns: 1fr;
        gap:60px;
    }
    .main-img{
        position: absolute;
        top: 120px;
    }
}

.prof-card {
    justify-self: center;
    width: 230px;
    height: 284px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f3;
    border-radius: 12px;
    box-shadow: inset 5px 5px 10px #a9a9aa77,
    inset -5px -5px 10px #ffffff7e;
}

.prof-card .img {
    height: 150px;
    margin-top: 1.6em;
    aspect-ratio: 1;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-radius: 30%;
    background: #f2f2f3;
    margin-bottom: 0.4em;
    box-shadow: -5px -5px 10px #ffffff,
    5px 5px 8px #d0D0D0;
}


.prof-card svg{
    border-radius: 30%;
    background-color: #fff;
}

.prof-card .info {
    text-align: center;
    margin-top: 0.4em;
    background: #2f4566;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prof-card .info > span {
    font-weight: bold;
    font-size: 1.2em;
}


.bonuscard {
    position: absolute;
    top: 200px;
    left: 60px;
    margin-bottom: 100px;
    width: 190px;
    height: 254px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
}

.bonuscard .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navbar-burger-img{
    display: none;
}
.item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
}

.item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
}



.prof-title{
    color: #2f4566;
    margin-left: 30px;
    margin-top: 50px;
    font-family: Roboto, sans-serif;
}
.item--1 {
    background: #c7c7ff;
}

.item--2 {
    background: #ffd8be;
}

.item--3 {
    background: #a9ecbf;
}

.item--4 {
    background: #f3bbe1;
}

.quantity {
    font-size: 25px;
    font-weight: 600;
}

.text {
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
}

.text--1 {
    color: rgba(149,149,255,1);
}

.text--2 {
    color: rgba(252,161,71,1);
}

.text--3 {
    color: rgba(66,193,110,1);
}

.text--4 {
    color: rgba(220,91,183,1);
}



















#brg-button{
    background-color: transparent;
    border: none;
    height: 66px;
    width: 66px;
    color: #2f4566;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 222;
}

#brg-contain{
    display: flex;
    background-color: #2f4566;
    position:fixed;
    transition-duration: 0.4s;
    z-index: 1100;
    height: 100vh;
    top: -100vh;
    right: -100vw;
    width: 100vw;
    border-radius: 1000px;


}
#brg-contain a{
    height: 50px;
    font-weight: 100;
    text-decoration: none;
    color: white;
    font-family: Roboto, sans-serif ;
    font-size: 30px;
    width: 100vw;
    z-index: 800;
    text-align: center;
    transition-duration: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.brg{
    display: none;
}

#brg-contain a:hover{
    background-color: rgba(62, 87, 133, 0.3);
}

#back{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #fff;
    background-color: transparent;
    border: none;
}


#brg-nav{
    position: relative;
    height:100vh ;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    gap: 40px;
}




.longlogo{
    height: 50px;
    margin-top: 25px;
    margin-left: 20px;

}




@media screen and (max-width: 700px){

    .big-menu {
        display: none;
    }


   #brg-contain{
       display: flex;
   }
   #burger-btn{
       top: 30px;
   }

    .brg{
        display: initial;
    }

}

