body{
    margin: 0;

}


.exit{
    position: absolute;
    top: 20px;
    Left: 20px;
    color: #2f4566;
}
table{
    margin-top: 100px;
    text-align: center;
    width: 80vw;
    margin-left: 10vw;


}
